.menu-icon{
    display: none;
    cursor: pointer;
}
.rede-icon{
    display: none;
    cursor: pointer;
}
.servicos-icon{
    display: none;
    cursor: pointer;
}

.linha-menu-top{
    height: 0;
    width: 60px;
    margin-top: 0;
}
.linha-menu-bottom{
    height: 0;
    width: 60px;
    margin-top: 0
}

.linha-menu-center{
    height: 0;
    width: 60px;
    margin-top: 0;
}

.menu-toggle{
    display: none;
}
.rede-toggle{
    display: none;
}
.servicos-toggle{
    display: none;
}

@media(max-width: 768px ){
    ul{
        display: none;
    }
    .navbar-desktop{
        display: none;
        flex-direction: column;
        transition:  transform 0.3s ease-in-out;
        transform: translate(-100%);
    }
    
    .menu-icon{
        display: block;
        position: absolute;
        right: 0;
        margin: 10px;
    }
    .rede-icon{
        display: block;
        position: absolute;
        right: -20px;
        margin: 30px;
    }
    .servicos-icon{
        display: block;
        position: absolute;
        right: -40px;
        margin: 50px;
    }
        

    /*checado atuano ~ = irmão*/
    .menu-toggle:checked ~ .navbar-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        position: absolute;
        top: 5px;
        content: center;
        background-color: #64a5ef;
        transition: all 0.3s ease;
        transform: translate(0);
    }
     .rede-toggle:checked ~ .rede-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        position: absolute;
        top: 20px;
        right: 150px;
        background-color: #64a5ef;
        transition: all 0.3s ease;
        transform: translate(0);
    }
     .menu-toggle:checked ~ .servicos-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #64a5ef;
        transition: all 0.3s ease;
        transform: translate(0);
    }
    .linha-toggle:checked ~ .menu-icon .linha-menu-top {
        transform: translateY(9px) rotate(45deg) ;
    }

    .linha-toggle:checked ~ .servicos-icon .linha-menu-bottom {
        transform: translateY(-9px) rotate(45deg) ;
    }
    .linha-toggle:checked ~ .redes-icon .linha-menu-center {
        transform: translate(-9px) rotate(45deg) ;
    }
}
