* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: fixed;
    color: blueviolet;
}
header {
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    gap: 15px;
}
